# OS files
.DS_Store
Thumbs.db

# Visual Studio / VS Code
.vscode/
.vs/
*.user
*.suo

# .NET / C#
bin/
obj/
*.userprefs

# Node / Web / Mobile
node_modules/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# Secrets and Environment Variables
*.env
*.env.*
.env
.env.local
.env.*.local
appsettings.Development.json
# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
appsettings.Local.json
*.secrets.json
